---
import { docsNavigation } from '../data/docsNavigation';

const currentPath = Astro.url.pathname;
const currentPage = docsNavigation.find((item) => item.href === currentPath);

const related = currentPage
    ? docsNavigation
        .filter((item) => item.section === currentPage.section && item.href !== currentPath)
        .slice(0, 4)
    : [];
---

{
    related.length > 0 && (
        <aside class="related-links" aria-labelledby="related-links-heading">
            <h2 id="related-links-heading">
                Related pages
            </h2>

            <ul>
                {
                    related.map((item) => (
                        <li>
                            <a href={item.href}>
                                <span>{item.label}</span>
                                <small>{item.section}</small>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </aside>
    )
}
