<div class="site-search">
    <label class="visually-hidden" for="site-search-query">
        Search documentation
    </label>

    <input
        id="site-search-query"
        class="query"
        type="search"
        placeholder="Search documentation…"
        autocomplete="off"
    />

    <div id="site-search-hits" class="hits"></div>
</div>

<script type="module" src="/scripts/pagefind-search.js"></script>
