<form class="search-box" role="search">
    <label for="docs-search">
        Search docs
    </label>

    <input
        id="docs-search"
        class="search-input"
        type="search"
        placeholder="Search LSCSS docs"
        autocomplete="off"
        data-search-input
    />

    <ul class="search-results" data-search-results></ul>
</form>

<script type="module" src="/scripts/search-index.js"></script>
