<nav class="site-nav" aria-label="Primary">
    <ul class="nav-list">
        <li><a href="/">Start here</a></li>
        <li><a href="/methodology/">Core methodology</a></li>
        <li><a href="/modern-css/">Modern CSS</a></li>
        <li><a href="/examples/">Practice</a></li>
        <li><a href="/tools/">Tools</a></li>
        <li><a href="/articles/">Reference</a></li>
        <li><a href="/search/">Search</a></li>
    </ul>
</nav>
