<nav class="site-nav" aria-label="Primary">
    <ul class="nav-list">
        <li><a href="/">Start here</a></li>

        <li><a href="/what-is-lscss/">Learn</a></li>

        <li><a href="/decision-trees/">Apply</a></li>

        <li><a href="/adoption/">Teams</a></li>

        <li><a href="/comparisons/">Compare</a></li>

        <li><a href="/tools/">Tools</a></li>

        <li><a href="/search/">Search</a></li>
    </ul>
</nav>
