pre {
    overflow: auto;
    padding: var(--space-l);
    border-radius: var(--radius-m);
    background: var(--colour-code-background);
    color: var(--colour-code-text);
}

code {
    font-family: monospace;
    font-size: var(--font-size-code);
}

.token-selector {
    color: var(--colour-code-selector);
}

.token-property {
    color: var(--colour-code-property);
}

.token-value {
    color: var(--colour-code-value);
}

.token-at-rule {
    color: var(--colour-code-at-rule);
}
