---
import SiteNav from '../components/SiteNav.astro';

export interface Props {
    title?: string;
    description?: string;
}

const {
    title = 'LSCSS',
    description = 'Layered Semantic CSS'
} = Astro.props;
---

<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="stylesheet" href="/styles/site.css" />
    </head>

    <body>
        <header class="site-header">
            <div class="page-shell">
                <a class="site-title" href="/">
                    LSCSS
                </a>

                <SiteNav />
            </div>
        </header>

        <slot />
    </body>
</html>
